<p>index works!</p>
<section>

<div class="d-felx jusify-content-between">
  <h4>Lista de Personas</h4>
  <a routerLink="/person/creater" class="btn btn-success"> Crear una nueva persona</a>
</div>

<br>

<table class="table">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th width="200px">Accion</th>
  </tr>

  <tr *ngFor="let person of persons">
    <td>{{ person.id }}</td>
    <td>{{ person.name }}</td>
    <td>{{ person.email }}</td>
    <td>{{ person.phone }}</td>
    <td>
      <a href="#" [routerLink]="['/person/', 'edit' , person.id ]" class="btn btn-primary">Editar</a>
      <button type="button" (click)="deletePerson(person.id)" class="btn btn-danger">Eliminar</button>
    </td>
  </tr>
</table>
</section>
