<div>

  <div class="d-flex just justify-content-between">
    <h4>Form person</h4>
    <a href="#" routerLink="/person/index" class="btn btn-primaryt">Volver</a>
  </div>
<hr/>
<!-- error -->
<form [formGroup]="form" (ngSubmit)="submit()">

  <div class="form-group row">
      <div class="col-md-6 ">
        <label for="title">Name:</label>
        <input
          formControlName="name"
          id="name"
          type="text"
          class="form-control">
          <!-- error -->
        <div *ngIf="f.name.touched && f.name.invalid" class="alert alert-danger">
          <!-- error -->
            <div *ngIf="f.name.errors.required">*Name is required.</div>
            <!-- error -->
            <div *ngIf="f.name.errors.pattern">*The name must only contain letters.</div>
        </div>
      </div>
  </div>

  <div class="form-group row">
      <div class="col-md-6 ">
        <label for="email">Email:</label>
        <input
          formControlName="email"
          id="email"
          type="text"
          class="form-control">
          <!-- error -->
        <div *ngIf="f.email.touched && f.email.invalid" class="alert alert-danger">
          <!-- error -->
            <div *ngIf="f.email.errors.required">*Email is required.</div>
            <!-- error -->
            <div *ngIf="f.email.errors.email">*The email must be a valid email address.</div>
        </div>
      </div>
  </div>

  <div class="form-group row">
      <div class="col-md-6 ">
        <label for="phone">Phone:</label>
        <input
          formControlName="phone"
          id="phone"
          type="text"
          class="form-control">
          <!-- error -->
        <div *ngIf="f.phone.touched && f.phone.invalid" class="alert alert-danger">
          <!-- error -->
            <div *ngIf="f.phone.errors.required">*Phone is required.</div>
            <!-- error -->
            <div *ngIf="f.phone.errors.pattern">*The phone must only contain numbers.</div>
        </div>
      </div>
  </div>

  <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>
</form>
</div>
